.wrapper {
    height: 200%;
}

.wrapper h1 {
    font-size: 50px;
}

.wrapper .input-box {
    height: 30px;
    margin: 10px;
}

.input-box input{
    height: 80%;
    font-size: 100%;
}

.input-box input::placeholder{
    font-size: 100%;
    color: #ffa422;
}

h1 {
    color: #ffa422;
}

button {
    color: #ffa422;
}